<h1>Filmes dirigidos por <%= @movie.director %></h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Ano de Lançamento</th>
      </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.release_date %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Voltar', movies_path %>